.navbar {
    background-color: #222;
    padding: 1.2em 0;
}

#navbar-nav {
    justify-content: flex-end;
}

.container-90 {
    width: 90%;
}

.nav-link + .nav-link {
    margin-left: 2em;
}

.logo {
    margin-bottom: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.logo-red {
    color: rgb(230, 0, 0);
}

.logo-violet {
    color: rgb(181, 8, 181);
}

.logo-blue {
    color: rgb(0, 0, 230);
}

@media (width < 768px) {
    .nav-link + .nav-link {
        margin-left: 0;
    }
}